<%= form_with model: @project do |form| %>
  <%= form.label :name, "Name" %>
  <%= form.text_field :name %>
  <% if @project.errors.full_messages_for(:name).any? %>
    <div>
      <%= @project.errors.full_messages_for(:name).first %>
    </div>
  <% end %>
  <%= form.submit "Create" %>
<% end %>
