<%= link_to "Back to projects", root_path %>
<%= @project.name %>

<%= form_with model: [@project, @status_transition], data: {controller: "status-transition", action: "change->status-transition#submit"} do |form| %>
  <%= form.label :to, "Status" %>
  <%= form.select :to, options_for_status_transition, selected: @project.status %>
<% end %>

<%= render "comments/form", project: @project, comment: @comment %>

<h2>History</h2>
<ol id="events">
  <% @project.ordered_events.each do |event| %>
    <%= render "#{event.eventable_name}", event: event %>
  <% end %>
</ol>
